.footer {
  @extend %flex-both-center;
  gap: 10%;
  padding: 15px 0;
  background: $color-blue-dark;
  color: $color-white;
  font-weight: 600;
  font-size: 12px;
}

@media (max-width: 1024px) {
  .footer {
    flex-direction: column;

    &__logo {
      margin-bottom: 15px;
    }

    &__nav {
      margin-bottom: 25px;
    }
  }
}
