.header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 15px 0;
  @extend %flex-both-center;
  gap: 10%;
  background: $color-blue-dark;
  color: $color-white;
  font-weight: 600;
  font-size: 12px;
  z-index: 3;
  transition: all 0.5s;

  &__menu-button {
    display: none;
    flex-direction: column;
    gap: 5px;
    border: 0;
    background-color: #0000;
  }

  &__menu-part {
    width: 30px;
    height: 5px;
    background-color: $color-white;
    border-radius: 5px;
  }

  &--transparent {
    background-color: #0000;
  }
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    transform: translateY(-68%);

    &__menu-button {
      display: flex;
    }

    &--active {
      height: 100vh;
      transform: translateY(0);
    }
  }
}
