.slide {
  display: flex;
  flex-direction: column;
  left: 9%;
  width: 82%;

  &__title {
    display: inline-block;
    margin-bottom: 51px;
    font-family: "Georgia", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 118.8%;
    color: $color-white;

    &--pink {
      color: $color-pink;
    }
  }

  &__subtitle {
    display: inline-block;
    margin: 0;
    margin-bottom: 18px;
    width: 40%;
    font-size: 20px;
    line-height: 31px;
    color: $color-white;
  }

  &__link {
    width: fit-content;
    max-width: 450px;
    text-decoration: none;
  }
}

@media (max-width: 1200px) {
  .slide {
    &__title {
      font-size: 50px;
    }
  }
}

@media (max-width: 400px) {
  .slide {
    &__title {
      font-size: 25px;
    }

    &__subtitle {
      width: 100%;
      font-size: 15px;
    }
  }
}
