$color-pink-dark: #dc0254;
$color-pink-light: #f93e85;
$color-pink: #f61067;
$color-blue-dark: #150433;
$color-blue-light: #160434;
$color-gray-light: #484848;
$color-gray: #424242;
$color-white: #fff;
$color-purple: #30124e;
